---
import Layout from "@/layouts/Layout.astro";
import Text from "@/components/Text.astro";
import Card from "@/components/Card.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout>
  <Text as="h1" variant="mainHeading">Projects</Text>
  <div class="grid lg:grid-cols-2 gap-8">
    {projects.map((project) => <Card item={project} variant="grid" />)}
  </div>
</Layout>
