---
import { Icon } from "astro-icon/components";
import Social from "../components/Social.astro";
---

<footer class="layout-base h-32 bg-[#F7F5F3] text-2xl">
  <div class="flex justify-between flex-wrap gap-4">
    <Social platform="instagram" username="ruby.kmykk" />
    <Social platform="github" username="SnArk22" />
    <Social platform="linkedin" username="in/ruby-mykkanen-a4b18035b/" />
    <Social platform="discord" username="Ruen01" />
    <Social platform="whatsapp" username="Ruby Mykkanen" />
  </div>
</footer>
